
<div id="VR-scene">

<a-scene 
        physics="gravity: 0; debug: false" 
        background="#D3D3D3"
        renderer="highRefreshRate: true;"
        embedded
        >
        <canvas></canvas>
        <a-plane 
        color="#494c52" 
        height="10" 
        width="10" 
        rotation="-90 0 0" 
        material="side: double"
        position="0 0 0">
        </a-plane>
        <a-entity id="player">
            <a-entity id="leftHandCollider" 
                laser-controls="hand: left; model: true"
                static-body="shape: none;"
                shape__main="shape: sphere; radius: 0.005; offset: +0.01 -0.03 -0.06" 
                super-hands="
                    grabStartButtons : triggerdown, gripdown;
                    grabEndButtons: triggerup, gripup;
                    stretchStartButtons: gripdown;
                    stretchEndButtons: gripup;
                    colliderEvent: collisions;
                    colliderEventProperty: els;
                    colliderEndEvent: collisions;
                    colliderEndEventProperty: clearedEls" 
                collision-filter="
                    group: hands;
                    collidesWith: graph, vertex, button, ui;
                    collisionForces: false"
                physics-collider>
                <a-sphere id="leftHandColliderSphere" radius="0.005" color="blue" position="+0.01 -0.03 -0.06"
                    segments-width="16"
                    segments-height="8"
                    visible="true"></a-sphere>
            </a-entity>

            <a-entity id="rightHandCollider" 
                position="0 1.7 -0.2"
                laser-controls="hand: right; model: true"
                static-body="shape: none;"
                shape__main="shape: sphere; radius: 0.005; offset: -0.01 -0.03 -0.06" 
                physics-collider
                super-hands="
                    grabStartButtons : triggerdown, gripdown;
                    grabEndButtons: triggerup, gripup;
                    stretchStartButtons: gripdown;
                    stretchEndButtons: gripup;
                    colliderEvent: collisions;
                    colliderEventProperty: els;
                    colliderEndEvent: collisions;
                    colliderEndEventProperty: clearedEls" 
                collision-filter="
                    group: hands;
                    collidesWith: graph, vertex, button, ui;
                    collisionForces: false">                 
                <a-sphere 
                    id="rightHandColliderSphere" 
                    radius="0.005" 
                    color="blue" 
                    segments-width="16"
                    segments-height="8"
                    position="-0.01 -0.03 -0.06"
                    visible="true"></a-sphere>
            </a-entity>
            
            <a-entity id="povCam" camera look-controls wasd-controls position="0 1.7 0" >
            </a-entity>
        </a-entity>
        
        <a-entity
            id = "graph-trid"
            grabbable="startButtons:gripdown; endButtons:gripup; usePhysics: true"
            graph='name:trid; graphData:{
                    "graph": {
                        "vertices": [
                            {
                                "id": 0,
                                "position": [
                                    0.004357344054351665,
                                    0.0198843845693238,
                                    -0.006668111243976718
                                ],
                                "geometry": "sphere",
                                "edges": [
                                    0,
                                    1,
                                    2,
                                    11,
                                    19,
                                    20
                                ],
                                "neighbours": [
                                    9,
                                    11,
                                    12
                                ]
                            },
                            {
                                "id": 1,
                                "position": [
                                    0.05121132640643733,
                                    0.016031291038604567,
                                    -0.03476496953730088
                                ],
                                "geometry": "sphere",
                                "edges": [
                                    0,
                                    3,
                                    4
                                ],
                                "neighbours": []
                            },
                            {
                                "id": 2,
                                "position": [
                                    -0.06557983540938406,
                                    0.01750132527927567,
                                    -0.01676828141776794
                                ],
                                "geometry": "sphere",
                                "edges": [
                                    1,
                                    10,
                                    12
                                ],
                                "neighbours": [
                                    8,
                                    9
                                ]
                            },
                            {
                                "id": 3,
                                "position": [
                                    0.0033348411239941533,
                                    -0.054167548050605675,
                                    0.0044891158601743225
                                ],
                                "geometry": "sphere",
                                "edges": [
                                    5,
                                    6,
                                    7,
                                    14,
                                    16,
                                    18
                                ],
                                "neighbours": [
                                    9,
                                    10,
                                    11
                                ]
                            },
                            {
                                "id": 4,
                                "position": [
                                    0.06093529843588695,
                                    -0.04965841685456787,
                                    -0.02474309135395507
                                ],
                                "geometry": "sphere",
                                "edges": [
                                    5,
                                    8,
                                    9
                                ],
                                "neighbours": []
                            },
                            {
                                "id": 5,
                                "position": [
                                    -0.06368956732584176,
                                    -0.05246494744178135,
                                    -0.007675616546901985
                                ],
                                "geometry": "sphere",
                                "edges": [
                                    6,
                                    13,
                                    15
                                ],
                                "neighbours": [
                                    9,
                                    8
                                ]
                            },
                            {
                                "id": 6,
                                "position": [
                                    0.08278847930049744,
                                    -0.015920064589663385,
                                    -0.054308579413296754
                                ],
                                "geometry": "cube",
                                "edges": [
                                    3,
                                    8
                                ],
                                "neighbours": []
                            },
                            {
                                "id": 7,
                                "position": [
                                    0.031082941835400654,
                                    -0.01582987834057674,
                                    -0.015464717303975112
                                ],
                                "geometry": "cube",
                                "edges": [
                                    2,
                                    4,
                                    7,
                                    9
                                ],
                                "neighbours": []
                            },
                            {
                                "id": 8,
                                "position": [
                                    -0.09884413890145327,
                                    -0.016602620013494107,
                                    -0.01766276853119811
                                ],
                                "geometry": "cube",
                                "edges": [
                                    10,
                                    15
                                ],
                                "neighbours": [
                                    2,
                                    5
                                ]
                            },
                            {
                                "id": 9,
                                "position": [
                                    -0.033114515392797035,
                                    -0.016127968803305803,
                                    -0.007977562912749314
                                ],
                                "geometry": "cube",
                                "edges": [
                                    11,
                                    12,
                                    13,
                                    14
                                ],
                                "neighbours": [
                                    0,
                                    2,
                                    5,
                                    3
                                ]
                            },
                            {
                                "id": 10,
                                "position": [
                                    0.025279842182581218,
                                    -0.05137304765795958,
                                    0.04966289264587684
                                ],
                                "geometry": "sphere",
                                "edges": [
                                    16,
                                    17,
                                    22
                                ],
                                "neighbours": [
                                    3,
                                    11,
                                    13
                                ]
                            },
                            {
                                "id": 11,
                                "position": [
                                    0.016019758468612012,
                                    -0.011946644913844007,
                                    0.022278485757321165
                                ],
                                "geometry": "cube",
                                "edges": [
                                    17,
                                    18,
                                    19,
                                    21
                                ],
                                "neighbours": [
                                    10,
                                    3,
                                    0,
                                    12
                                ]
                            },
                            {
                                "id": 12,
                                "position": [
                                    0.029249069448356896,
                                    0.025415793732531666,
                                    0.048894645065000075
                                ],
                                "geometry": "sphere",
                                "edges": [
                                    20,
                                    21,
                                    23
                                ],
                                "neighbours": [
                                    0,
                                    11,
                                    13
                                ]
                            },
                            {
                                "id": 13,
                                "position": [
                                    0.03457931722334756,
                                    -0.009237238312859608,
                                    0.09126223119340537
                                ],
                                "geometry": "cube",
                                "edges": [
                                    22,
                                    23
                                ],
                                "neighbours": [
                                    10,
                                    12
                                ]
                            }
                        ],
                        "edges": [
                            {
                                "id": 0,
                                "config": [
                                    0,
                                    1,
                                    0,
                                    1
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 1,
                                "config": [
                                    0,
                                    2,
                                    1,
                                    1
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 2,
                                "config": [
                                    0,
                                    7,
                                    0,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 3,
                                "config": [
                                    1,
                                    6,
                                    0,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 4,
                                "config": [
                                    1,
                                    7,
                                    1,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 5,
                                "config": [
                                    3,
                                    4,
                                    0,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 6,
                                "config": [
                                    3,
                                    5,
                                    1,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 7,
                                "config": [
                                    3,
                                    7,
                                    0,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 8,
                                "config": [
                                    4,
                                    6,
                                    1,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 9,
                                "config": [
                                    4,
                                    7,
                                    0,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 10,
                                "config": [
                                    2,
                                    8,
                                    0,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 11,
                                "config": [
                                    0,
                                    9,
                                    1,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 12,
                                "config": [
                                    2,
                                    9,
                                    1,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 13,
                                "config": [
                                    9,
                                    5,
                                    0,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 14,
                                "config": [
                                    9,
                                    3,
                                    0,
                                    1
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 15,
                                "config": [
                                    8,
                                    5,
                                    0,
                                    1
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 16,
                                "config": [
                                    3,
                                    10,
                                    2,
                                    2
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 17,
                                "config": [
                                    10,
                                    11,
                                    2,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 18,
                                "config": [
                                    3,
                                    11,
                                    2,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 19,
                                "config": [
                                    11,
                                    0,
                                    0,
                                    2
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 20,
                                "config": [
                                    0,
                                    12,
                                    2,
                                    1
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 21,
                                "config": [
                                    12,
                                    11,
                                    1,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 22,
                                "config": [
                                    10,
                                    13,
                                    1,
                                    0
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            },
                            {
                                "id": 23,
                                "config": [
                                    13,
                                    12,
                                    0,
                                    2
                                ],
                                "amplitude": 1,
                                "phase": 0,
                                "siblingConfig": [0, 0, []]
                            }
                        ],
                        "target_state": [
                            "000000",
                            "001001",
                            "010010",
                            "011011",
                            "100100",
                            "101101",
                            "110110",
                            "111111"
                        ]
                    }
                }'
            position="0 1.7 -0.2"
        >
            
        </a-entity>
</a-scene>
</div>