
<div id="vriadne-source">
    <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
    <script src="https://unpkg.com/super-hands@^3.0.4/dist/super-hands.min.js"></script>
    <script src="https://unpkg.com/mathjs@11.11.1/lib/browser/math.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-physics-system@v4.2.2/dist/aframe-physics-system.min.js"></script>
    <script src="https://unpkg.com/aframe-fps-counter-component@1.0.1/dist/aframe-fps-counter-component.min.js"></script>
    <script src="https://unpkg.com/aframe-physics-extras@0.1.2/dist/aframe-physics-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-super-keyboard@2.1.0/dist/aframe-super-keyboard.min.js"></script>
    <script src="./src/components/graph.js"></script>
    <script src="./src/components/edge.js" type="module"></script>
    <script src="./src/components/vertex.js"></script>
    <script src="./src/components/graph-editor.js"></script>
    <script src="./src/components/perfect-matching.js"></script>
    <script src="./src/components/user-interface.js"></script>
    <script src="./src/components/graph-library.js"></script>
    <script src="./lib/helpers.js"></script>
    <style> a-scene{   
            height: 600px;
            width: 800px;
            }
    </style>
</div>

